<div class="container-fluid d-flex flex-column w-100 p-4">
  <div class="container-fluid w-75">
    <h6>&larr; Go back to <a href="/class/{{classInfo.id}}">{{classInfo.name}}</a></h6>

    <div class="container-fluid w-100 h-100 ps-4 pt-1">
      <h1>
        Welcome to the chat for {{classInfo.name}}!
      </h1>
      <h4>Participating as {{user.username}}</h4>

      {{> message}}

      <p>Feel free to discuss general topics related to {{classInfo.name}}</p>

      <div class="chat-container container-fluid m-0 p-0" style="min-height: 10%; max-height: 10%; background-color: red;">
        <table class="table table-bordered table-striped w-100 mw-100">
          <tbody>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
            <tr>
              <td><a href="/question/{{this.question_id}}">TESTING</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">TESTING</td>
              <td>MORE TESTING</td>
            </tr>
          </tbody>
        </table>
      </div>
      <script>

      </script>
    </div>
  </div>
</div>
