<div class="container-fluid d-flex flex-column w-100 p-4">
    <h1>Welcome, {{user.username}}</h1>
    <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
            <a class="nav-link" href="/profile/update">Update Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/classes">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/bookmarks">Bookmarked Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Asked Questions</a>
        </li>
    </ul>
    <div class="container-fluid w-50 mt-3">
        <h2>My Asked Questions</h2>
        {{> message}}
    {{#if questions.length}}
      {{!-- should sort by most recent --}}
      <table class="table table-bordered table-striped q-table w-100 mw-100">
        <colgroup>
          <col/>
          <col/>
          <col style="width:60%;"/>
          <col/>
        </colgroup>
        <thead class="table-dark">
          <tr>
            <th>Question</th>
            <th>Class</th>
            <th>Preview</th>
            <th>Date Asked</th>
          </tr>
        </thead>
        <tbody>
          {{#each questions}}
            <tr>
              <td><a href="/question/{{this.question_id}}">{{this.question_title}}</a></td>
              <td><a href="/class/{{this.class_id}}">{{this.class_name}}</a></td>
              <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{this.question_content}}</td>
              <td>{{this.question_date}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>
        You have not asked any questions yet.
      </p>
    {{/if}}
    </div>
</div>