
    {{!-- <div class="container-fluid row ps-4">
        <div class="col-lg-9">
            <h4>My bookmarks</h4>
            {{> search}}
            <div class="container-fluid mb-3">
                <table class="saved">
                    {{#each bookmarks}}
                        <tr>
                            <th>{{question}}</th>
                            <th>{{answer}}</th>
                            <th>
                                <form action="/profile" method="delete">
                                    <input type="hidden" name="bookmark_id" value="{{id}}">
                                    <input type="submit" value="remove">
                                </form>
                            </th>
                        </tr>
                    {{/each}}
                </table>
            </div>

            <h4>My classes</h4>
            {{!-- cards for user classes --}}
            <div class="container-fluid saved mb-3">
                <div class="row">
                    {{#each classes}}
                        <div class="col-sm-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">{{this.class_name}}</h5>
                                    </a>
                                    <p class="card-text">{{this.class_desc}}</p>
                                    
                                </div>
                                <div class="card-footer">
                                    <form action="profile_class", method="DELETE">
                                        <input type="hidden" value="{{this.class_id}}" name="classId"/>
                                        <input type="submit" class="btn btn-outline-danger" value="Remove class"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
