<h1>{{username}}</h1>

<p>My Bookmarks</p>

{{> search}}

{{!-- table for user bookmarks --}}
<table>
    {{#each bookmarks}}
        <tr>
            <th>{{question}}</th>
            <th>{{answer}}</th>
            <th>
                <form action="/profile" method="delete">
                    <input type="hidden" name="bookmark_id" value="{{id}}">
                    <input type="submit" value="remove">
                </form>
            </th>
        </tr>
    {{/each}}
</table>

<p>My classes</p>

{{!-- cards for user classes --}}
<div class="container mt-4">
    <div class="row">
    {{#each classes}}
    <div class="card">{{classname}}</div>
    {{/each}}
    </div>
</div>

{{!-- form for changing username or password --}}
{{!-- how should it be? chaging it immediately or redirect it? --}}
<form action="/change_username_password" method="post">
    <input name="new_val" class="form-control" id="newone" placeholder="change username/password">
    <button type="submit">change</button>
</form>